.passreset{
	width: 300px;
	height: 350px;
	position: absolute;
	left: 12px;
	top: 220px;
	border-radius: 4px;
	background-color: #dfdfdf;
	box-shadow: 0 0 1px 3px rgba(0,73,118, 0.9);
}
.passreset .configLabel {
    font-size: 20px;
    text-align: right;
    width: 300px;
}

.passreset input{
	border-radius: 4px;
    height: 22px;
}
.passreset ol{
	margin: 0 auto;
    text-align: left;
    width: 207px;
}


@media screen and (max-width: 1650px) {
    
    .passreset{
    	left: calc(50% - 150px);
    	top: 300px;
    }
}

.passreset button{
	margin-top: 7px;
    width: auto;
}

