

/*Stylesheet for desktops*/



/*
 * font-family: 'Muli', sans-serif;
 */

/*
* Global elements
*/

body{ 
	overflow-x: none;
	background-image:url('../images/nuts2.png');
}

html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	/*font-family:"News Cycle";*/
	font-family: 'Muli';
	overflow-x: hidden;
}

#botContainer th
{
	text-align: center;
	font-size: 14px;
}

.tickerTable td
{
	text-align: center;
}

article{
	margin: 40px auto 12px;
}

article div{
	font-size: 20px;
	text-align: center;
}

.banner
{
	border-bottom: 60px solid #004976;
    height: 100px;
    margin-bottom: 100px;
    margin-top: 10px;
    width: 100%;
}

#banner_background{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	
    opacity: .08;
    width: 100%;
    /*height: 180px;*/
	height: 100%;
}

#footer_background{
	position: absolute;
    z-index: -1;
    bottom: 10px;
    /*background: url(test.jpg) center center;*/
	/*background-image:url('../Images/nuts2.png');*/
    opacity: .15;
    width: 100%;
    height: 120%;
}

.bannerContent
{
	width: 1100px;
	margin: 0 auto !important;
	position: relative;
	top: 42px;
}

.bannerContent div
{
	float:left;
}

.bannerLogo
{
    left: 24px;
    position: relative;
    top: 61px;
    z-index: 1;
}

.logo_wrap {
    background: #fff none repeat scroll 0 0;
    border: 6px solid #004976;
    border-radius: 50%;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.6);
    display: inline-block;
    height: 250px;
    left: calc(50% - 132px);
    position: absolute;
    width: 250px;
}


#bannerLeft
{
	float: left;
    position: relative;
    right: 130px;
    text-align: right;
    top: 70px;
    width: 500px;
}

#bannerLeft .form{
	width: 495px;
}

#logIn
{
	background-color: transparent;
    border: medium none;
    color: #fff;
    cursor: pointer;
    margin-left: 22px;
}

#bannerCenter
{
	width: 200px;
}

#account
{
    margin-right: 10px;
}


#bannerRight
{
	color: #fff;
    left: 246px;
    position: relative;
    top: 76px;
    width: 200px;
}

#logOut{
	color: #fff;
    cursor: pointer;
    float: right;
    margin-left: 8px;
    margin-top: 4px;
    position: relative;
    right: 20px;
}

#account{
	float:left;
	cursor: pointer;
}

#newAccount, #forumLink{
	float:right;
	cursor: pointer;
	color: #fff;
}


#newAccount,
#forumLink,
#account,
#logOut,
#logIn{
	font-family: 'Delius', cursive;
	font-size: 20px;
}

.form input {
    height: 29px;
    width: 165px;
    font-family: 'Muli';
    font-size: 20px;
}

#forumLink
{
	width: 80px;
}

#newAccount
{
	float: left;
    width: 150px;
}

#frame
{
	width: 1100px;
	margin: 0 auto;
}

#statusLogContainer
{
    display: none;
    margin-right: 20px;
}

.statusLog div
{
	padding-left: 8px;
    position: relative;
    top: 33px;
}

footer
{
    color: #8a8c8f;
    float: left;
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

footer div{
	
}

#statusLogContent
{ 
	background-color: white;
    border: 3px solid #f47521;
    border-radius: 6px;
    color: #8a8c8f;
    font-family: "Muli";
    height: 406px;
    line-height: 22px;
    padding: 32px 8px 4px;
    resize: none;
    width: 300px;
}

#historyContainer{
	margin-top: 25px;
    width: 1044px;
}


#botContainer {
    margin: 0 auto;
    width: 800px;
}


#ledgerContainer{

    width: 700px;
}


#configsContainer{

    width: 700px;
}

#tickerContainer{
    margin: 26px 0;
    width: 700px;
}

#statusLogContainer,
#tickerContainer,
#configsContainer,
#ledgerContainer{
	float: left;
}

#botContainer div
{
	/*width: 690px;*/
	/*width: 1000px;*/
}

.sectionHeader
{
	width: 99%;
	margin-top: 8px;
	margin-bottom: 8px;
	background-image: linear-gradient(to top, #F47521 60%, #FFFFFF 110%);
	height: 28px;
	padding-left: 5px;
	line-height: 28px;
	color: white;
	font-weight: bold;
	border-radius: 6px;
}

/*************************************
*  Ticker Table styles
*************************************/

.tickerTable table
{
	margin: 0 auto;
}

html body div#frame div#botContainer div#tickerContainer table.tickerTable tbody tr td
{
	font-size: 12px;
	font-weight: lighter;
}
.tickerDescription
{
	/*background-color: #004976;*/
	background-image: linear-gradient(to top, #004976 77%, #FFFFFF 110%);
	color: white;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	width: 100px;
}

.tickerHeader
{
	width: 80px;
	/*background-color: #004976;*/
	color: white;
	font-size: 16px;
	background-image: linear-gradient(to top, #004976 60%, #FFFFFF 110%);
}

/*******************************
*  Ledger Table Styles
********************************/
.balanceTable
{
	margin: 0 auto;
}

.balanceTable th
{
	font-size: 14px;
	margin-top: 5px;
	padding-right: 10px;
}

.balanceTable td
{
	font-size: 12px;
	font-weight: lighter;
	padding-right: 10px;
}

/*******************************
*  Config Table Styles
********************************/
.configLabel
{
	font-size: 12px;
    text-align: right;
    width: 120px;
}

.configSummary td
{
	padding-right: 10px !important;
}

/*******************************
*  Calculator Table Styles
********************************/

.calculatorTable
{
	margin: 0 auto;
	width: 90%;
}

.calculatorLabel
{
	text-align: right;
	width: 120px !important;
	font-size: 12px;
	font-weight: bold;
}

table.calculatorTable tbody tr td
{
	text-align: center;
	font-size: 11px;
}

/*******************************
*  History Table Styles
********************************/ 

.historyTable
{
	margin: 0 auto;
	width: 90%;
}

.historylabel
{
	font-size: 12px;
}

table.historyTable tbody tr td
{
	text-align: center;
	font-size: 11px;
}

/*******************************
*  Action Styles
********************************/		

.action
{
	border-radius: 8px;
	color: white;
	background-color: #004976;
	font-size: 14px;
	border: none;
	height: 40px !important;
	background-image: linear-gradient(to top, #004976 80%, #FFFFFF 110%);
	width: 24%;	
}

.actionControls
{
	/*width: 595px; !important;*/
	margin: 0 auto;
	font-size: 16px;
	margin-left: 6px;
	margin-top: 8px;
	
}

/********************************
*  Transaction controls
********************************/
.transactionTable
{
	margin-bottom: 5px;
    text-align: center;
    width: 745px;
}

.transactionTable tbody tr
{
	height: 18px;
	line-height:18px;
}

.transactionTable tbody tr th
{
    color: white;
	background-image: linear-gradient(to top, #004976 80%, #FFFFFF 110%);
	font-size: 12px;
}

.transactionTable tbody tr td
{
	
}

.headerBar
{
	height: 20px;
	width: 745px;
	background-color:#f47521;
	/*border-top-left-radius: 6px;
	border-top-right-radius: 6px;*/
	border-radius: 4px;
}
/*********************************
* jquery dialog
**********************************/

.ui-dialog-title
{
	background-color: #004976;
	color: white;
}

.ui-dialog-titlebar-close
{
	border: none !important;
	color: white !important;
	background-color: #004976 !important;
	
}

.ui-dialog-titlebar
{
    border: none;
	color: white;
	background-color: #004976;	
}

/**********************************
* Account info
***********************************/

/*
#accountNav, #AccountConfigDivs, #accountPassword, #accountEmail
{
	float: left;
}
*/

#accountPassword, #accountEmail, #bitstampCfgs, #activateAccount
{
	display: none;
}

#activateAccount
{
	font-size: 14px;
	width: 90%;
	margin-left: 20px;
}

#accountNav ul li
{
  cursor: pointer;	
}

#accountNav
{
	width: 260px;
	height: 400px;
	float: left
}

#accountConfigDivs
{
	width: 480px;
	height: 400px;
	float: left;
}

.accountAction table
{
	margin: 0 auto;
	margin-top: 25%;
}

#accountManagement
{
	margin-top: 10px;
}

.accountLabel
{
	width: 180px;
	float: left;
}

.accountLabel input
{
	width: 300px;
	float: left;
}

.accountAction, #accountUpdateDiv
{
	border:none;
}

.accountButton
{
	width: 200px;
	margin-top: 20px;
}

#sendActivation
{
  margin-top: 10px;
  cursor: pointer;
}

/*********************************
*  New account signup
**********************************/
#createAccount
{
	margin-top: 20px;
}

#accountMessage
{
	font-weight: lighter;
	font-size: 14px;
	margin-top: 10px;
}

#newUserName, #newUserEmail
{
  margin-bottom: 5px;	
}

#newAccountDisclaimer
{
    font-family: "Muli";
    font-size: 17px;
    font-weight: bold;
}

#passwordRecovery
{
	border-radius: 40px; 
	color: white; 
	border: 1px solid #CCC; 
	float: left; 
	margin-top: 5px; 
	margin-right: 6px; 
	font-weight: 600; 
	font-size: 14px; 
	background-color: #CCC;
	cursor: pointer;
	padding-left: 5px;
	width: 20px;
}

#activateAccount
{
	margin-top: 15%;
}

#passwordRecovery:hover
{
	border: 1px solid #999;
}

/*  Css Icons */
.close{
  position:relative;
  width:0.3em;
  height:1.5em;
  background: #044A76;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 22px;
  cursor: pointer;
}
.close:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:0.3em;
  height:1.5em;
  background: #044A76;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
}

#logClear{
	/*height: 15px;*/
	/*background: #044A76;*/
	margin-left: 290px;
	font-size: 12px;
	display: none;
}

/*
.contact{
	position: absolute;
	left: 10px;
	top:20px !important;
	z-index: 3;
}
*/


#contactModal h3{
    text-align: center;
	margin-bottom: 40px;
}

#contactModal form{
    height: 325px;
    margin: 0 auto;
    width: 408px;
}

#contactModal form div label{
    display: inline-block;
    width: 168px;
}

#contactModal form textarea{
	width: 400px;
	height: 100px;
}

#contactModal form div label,
#contactModal form div input,
#contactModal form div textarea{,
.divAsButton
	font-size: 20px;
	font-family: 'Muli';
}

.modalDialog.ui-draggable.ui-resizable div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle button.ui-dialog-titlebar-close{
	bottom: -2px;
    left: 60px;
    position: relative;
}

.divAsButton{
    background-color: #004976;
    color: white;
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}

.divAsButton:hover{
  color: #bbb;
}

.contact {
  position: absolute !important;
	right: 20px !important;
	top:10px !important;
	z-index: 3;
}

.tickerTable{}


#actionButtonContainer{
	margin-top: 15px;
    text-align: center;
    width: 1028px;
}

#configSummary{

}

.modalDialog {
	
}

.modalDialog .ui-dialog .ui-dialog-titlebar-close{
	bottom: 4px;
}

.modalDialog .ui-dialog-titlebar.ui-widget-header{
	background: #004976;
}

.fa{
	cursor: pointer;
}


.fa.fa-strikethrough {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 4px;
    padding: 2px;
}

.fa-heart{
	color: green;
}

.fa-heart-o{
	color: red;
}

.statusIndicator{
    display: none;
    left: 34px;
    margin: 0 auto;
    position: relative;
    text-align: right;
    top: 18px;
    width: 878px;
}

.saveStatus{
	margin-left:6px;
}

#waitModal{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
	background: #ddd;
	opacity: .98;
}

#waitModal .fa-cog{

}

.waitContainer{
	width: 400px;
	height: 400px;
	margin: 20% auto 0;
	text-align: center;
	
}

.modalMessage{
	font-size: 30px;
    text-align: center;
}

#mail{
	bottom: auto;
    height: 65px;
    position: absolute;
    right: 12px;
    top: 24px;
    width: 65px;
    color: rgba(0,73,118, 0.9);
}

/********************
 *  HELP SLIDEOUT
 */

.showFaq{
	right: 0;
    top: 174px;
}

.privacypolicy,
.bothelp,
.accounthelp,
.reviews{
    height: 800px;
    overflow-y: auto;
    padding: 8px 8px 0 8px;
    position: absolute;
    right: -468px;
    top: 175px;
    width: 455px;
}

.bothelpShow{
	right: 2px;
}

.privacypolicy,
.reviews,
.accounthelp .panel,
.bothelp .panel{
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    padding: 6px;
    width: 428px;
}

.reviews{
	text-align: center;
	height: 400px;
}

.reviews img{
	margin: 0 auto;
}

/*
.bothelp{
	height: 810px;
    overflow:none;
    padding: 6px;
    
    right: -506px;
    top: 174px;
    display: none;
    
}

.bothelpShow{
	right: 12px;
	width: 580px;
	overflow-y: auto;
}

.bothelp h3{
	color: #000;
    text-align: center;
}

.bothelp ul{
	margin-right: 36px;
	/*border: 4px solid black;
	margin-right: 30px;
	background-color: #000;
    color: #fff;*/
 /*  
   
}

.bothelp ul li{
	background-color: #000;
    border-radius: 6px;
    color: #fff;
    list-style: outside none none;
    margin-top: 8px;
    padding-left: 6px;
    padding-top: 12px;
}

.bothelp ul li ul{
	margin: 0 12px;
    padding-bottom: 16px;
}

.bothelp ul li ul li{
	list-style: circle;
}

.bothelp .panel{
	border-radius: 4px;
    box-shadow: 0 0 12px;
    margin-left: 90px;
    margin-top: -3px;
    padding-top: 12px;
    height: 64px;
}
*/

.handle{
	z-index: 50;
	font-weight: bold;
	
}



.confighandle{
	color: #004976;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    opacity: 0.7;
    position: absolute;
    right: 12px;
    top: 194px;
    width: 100px;
    z-index: 12;
}

.accounthandle{
	color: #004976;
    height: 30px;
    right: 12px;
    position: absolute;
    top: 230px;
    cursor: pointer;
    opacity: 0.7;
    display: inline-block;
    width: 100px;
}

.reviewshandle{
	color: #004976;
    height: 30px;
    right: 12px;
    position: absolute;
    top: 266px;
    cursor: pointer;
    opacity: 0.7;
    display: inline-block;
    width: 100px;
}

.privacyhandle{
	color: #004976;
    height: 30px;
    right: 12px;
    position: absolute;
    top: 300px;
    cursor: pointer;
    opacity: 0.7;
    display: inline-block;
    width: 100px;
}

.handleshow{
	right: 450px;
}

.privacyhandle i,
.confighandle i,
.accounthandle i,
.reviewshandle i{
	color:#dc7224;
}

.privacyhandle:hover,
.reviewshandle:hover;
.accounthandle:hover,
.confighandle:hover{
	opacity: .95;
	text-decoration: underline;
}

.rotate{
	transform: rotate(180deg);
}

.panelContainer{
	box-shadow: 0 0 12px rgba(0,0,0, 0,5);
	border: 1px solid purple;
	padding: none;
}

/*
.tincan{
	left: 33px;
    position: absolute;
    top: 685px;
}
*/

.quicksignup{
	width: 300px;
	height: 500px;
	position: absolute;
	left: 12px;
	top: 220px;
	border-radius: 4px;
	background-color: #dfdfdf;
	box-shadow: 0 0 1px 3px rgba(0,73,118, 0.9);
}

.quicksignup .configLabel {
    font-size: 20px;
    text-align: right;
    width: 300px;
}

.quicksignup input{
	border-radius: 4px;
    height: 22px;
}

.quicksignup ol{
	margin: 0 auto;
    text-align: left;
    width: 207px;
}

.policyContainer{
	width: 360px;
	height: 500px;
	overflow: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
}

@media screen and (max-width: 1650px) {
    
    .quicksignup{
    	left: calc(50% - 150px);
    	top: 300px;
    }
    
    article{
    	margin: 540px auto 12px;
    }
    
    .badgeContent img{
    	width: 300px;
    	height: auto;
    }
    
    .splashContent{
    	width: 800px;
    }
    
    /*
    .tincan{
    	top: 178px;
    }
    */
    
    .badgeContent {
	    left: calc(50% - 492px);
        position: absolute;
        top: 440px;
        width: 970px;
	}
    
    #priceboard {
        float: left;	
    }
    
    #freeboard {
    	float: right;
    }
    
    /*
    #priceboard {
    	left: 310px;
    	position: absolute;
    	top: 400px;	
    }
    
    #freeboard{
    	left: 961px;
	    position: absolute;
	    top: 400px;
    }
    */
    
}

@media screen and (max-width: 1300px) {
	
/*  Will need to fix header and menus */

    
    #frame{
    	margin-top:0;
    }
    
    .statusIndicator{
    	margin-top: 40px;
    }

}

.quicksignup button{
	margin-top: 7px;
    width: auto;
}

#update, #getTransactions{
	display: none;
}

#showPasswordTag {
    color: #888;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 4px;
}

#showHidePassword {
    border-color: #888;
    height: 10px;
    margin-top: 4px;
    opacity: 0.4;
}

.socMediaButtons{
	left: 12px;
    position: absolute;
    top: 118px;
}

.fa-facebook-square{
	color: #fff;
}

.thankyou {
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
    height: 115px;
    margin: 17% auto 0;
    padding: 6px;
    width: 273px;
}

.thankyou a{
	text-decoration: none;
}

.thankyou button{
	border: medium none;
    border-radius: 4px;
    color: #333;
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 200px;
}
